{
  "log": {
    "_recordingName": "validateInvocation::shouldThrowIfApiKeyIsInvalid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e89c39ef45473879918b4eda47902b0b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.pagerduty.com/users?limit=1&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 853,
            "text": "<!DOCTYPE html>\n<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\" />\n  <meta content='noindex, noarchive, nofollow' name='robots' />\n  <title>The page you were looking for doesn't exist (404)</title>\n  <link type = \"text/css\" rel = \"stylesheet\" media=\"screen\" href = \"/stylesheets/error.css\" />\n</head>\n\n<body>\n  <div class = \"container\">\n    <div class = \"content\">\n      <div class=\"counter-container\">\n        <div id=\"counter\">\n          <div class=\"counter-number counter-4\"></div>\n          <div class=\"counter-number counter-0\"></div>\n          <div class=\"counter-number counter-4\"></div>\n        </div>\n      </div>\n      \n      <h1>You may have mistyped the address or the page may have moved</h1>\n      <a class=\"btn btn-xlarge\" href=\"/\">bring me back home  &raquo;</a>\n\n    </div>\n  </div>\n \n</body>\n</html>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 442,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
