{
  "log": {
    "_recordingName": "requestAll::shouldPaginateResponse",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e89c39ef45473879918b4eda47902b0b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.pagerduty.com/users?limit=1&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1159,
            "text": "{\"users\":[{\"name\":\"Adam Williams\",\"email\":\"adam.williams@jupiterone.com\",\"time_zone\":\"America/New_York\",\"color\":\"red\",\"avatar_url\":\"https://secure.gravatar.com/avatar/9ea4fa51e96ace12abc2f580a55d8dd7.png?d=mm&r=PG\",\"billed\":true,\"role\":\"admin\",\"description\":null,\"invitation_sent\":false,\"job_title\":null,\"teams\":[],\"contact_methods\":[{\"id\":\"PJG7ZXR\",\"type\":\"email_contact_method_reference\",\"summary\":\"Default\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ/contact_methods/PJG7ZXR\",\"html_url\":null}],\"notification_rules\":[{\"id\":\"PBVZ9EI\",\"type\":\"assignment_notification_rule_reference\",\"summary\":\"0 minutes: channel PJG7ZXR\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ/notification_rules/PBVZ9EI\",\"html_url\":null},{\"id\":\"PF4KNU8\",\"type\":\"assignment_notification_rule_reference\",\"summary\":\"0 minutes: channel PJG7ZXR\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ/notification_rules/PF4KNU8\",\"html_url\":null}],\"coordinated_incidents\":[],\"id\":\"PBYO4HJ\",\"type\":\"user\",\"summary\":\"Adam Williams\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ\",\"html_url\":\"https://dev-jupiterone.pagerduty.com/users/PBYO4HJ\"}],\"limit\":1,\"offset\":0,\"total\":null,\"more\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"14874dfeb4404d892d670e196e0e4277\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 509,
      },
      {
        "_id": "8bfe26a5168136d097c4560a508bc7cd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
  [...]
