{
  "log":{
     "_recordingName":"pagerduty-recording",
     "creator":{
        "comment":"persister:JupiterOneIntegationFSPersister",
        "name":"Polly.JS",
        "version":"4.0.4"
     },
     "entries":[
        {
           "_id":"d651fd032ec3309773eb265604efadd9",
           "cache":{

           },
           "request":{
              "cookies":[

              ],
              "headers":[
              ],
              "method":"OPTIONS",
              "queryString":[
                 {
                    "name":"limit",
                    "value":"100"
                 },
                 {
                    "name":"offset",
                    "value":"0"
                 }
              ],
              "url":"https://api.pagerduty.com/teams?limit=100&offset=0"
           },
           "response":{
              "content":{
                 "mimeType":"text/html; charset=UTF-8",
                 "size":1,
                 "text":" "
              },
              "cookies":[

              ],
              "headers":[
                 {
                    "name":"content-type",
                    "value":"text/html; charset=UTF-8"
                 },
                 {
                    "name":"status",
                    "value":"200 OK"
                 },
                 {
                    "name":"etag",
                    "value":"\"7215ee9c7d9dc229d2921a40e899ec5f\""
                 }
              ],
              "status":200,
              "statusText":"OK"
           },
           "time":222,
           "timings":{
              "blocked":-1,
              "connect":-1,
              "dns":-1,
              "receive":0,
              "send":0,
              "ssl":-1,
              "wait":222
           }
        },
        {
           "_id":"09d209bc397cbf8cad4d3adfe94e1314",
           "cache":{

           },
           "request":{
              "cookies":[

              ],
              "headers":[
                 {
                    "name":"authorization",
                    "value":"[REDACTED]"
                 }
              ],
              "method":"GET",
              "queryString":[
                 {
                    "name":"limit",
                    "value":"100"
                 },
                 {
                    "name":"offset",
                    "value":"0"
                 }
              ],
              "url":"https://api.pagerduty.com/teams?limit=100&offset=0"
           },
           "response":{
              "content":{
                 "mimeType":"application/json",
                 "size":997,
                 "text":"{\"teams\": [{\"id\":\"PT0000\",\"name\":\"Team 0\",\"description\": null,\"type\":\"team\",\"summary\":\"Team 0 summary\",\"self\":\"https://api.pagerduty.com/teams/PT0000\",\"html_url\":\"https://company.pagerduty.com/teams/PT0000\",\"default_role\":\"manager\",\"parent\":null},{\"id\":\"PT0001\",\"name\":\"Team 1\",\"description\":\"Team 1 description\",\"type\":\"team\",\"summary\":\"Team 1 summary\",\"self\":\"https://api.pagerduty.com/teams/PT0001\",\"html_url\":\"https://company.pagerduty.com/teams/PT0001\",\"default_role\":\"manager\",\"parent\":null},{\"id\":\"PT0002\",\"name\":\"Team 2\",\"description\":\"Team 2 description\",\"type\":\"team\",\"summary\":\"Team 2 summary\",\"self\":\"https://api.pagerduty.com/teams/PT0002\",\"html_url\":\"https://company[...]
