{
  "log": {
    "_recordingName": "validateInvocation::shouldReturnUndefinedForValidConfiguration",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e89c39ef45473879918b4eda47902b0b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.pagerduty.com/users?limit=1&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1164,
            "text": "{\"users\":[{\"name\":\"JupiterOne Developer\",\"email\":\"development@jupiterone.dev\",\"time_zone\":\"America/Denver\",\"color\":\"red\",\"avatar_url\":\"https://secure.gravatar.com/avatar/6db8032ecd87512265a13d4bc9e6483f.png?d=mm&r=PG\",\"billed\":true,\"role\":\"admin\",\"description\":null,\"invitation_sent\":false,\"job_title\":null,\"teams\":[],\"contact_methods\":[{\"id\":\"PSQU729\",\"type\":\"email_contact_method_reference\",\"summary\":\"Default\",\"self\":\"https://api.pagerduty.com/users/P7OOI0E/contact_methods/PSQU729\",\"html_url\":null}],\"notification_rules\":[{\"id\":\"PYN2SQ4\",\"type\":\"assignment_notification_rule_reference\",\"summary\":\"0 minutes: channel PSQU729\",\"self\":\"https://api.pagerduty.com/users/P7OOI0E/notification_rules/PYN2SQ4\",\"html_url\":null},{\"id\":\"PBJQT2U\",\"type\":\"assignment_notification_rule_reference\",\"summary\":\"0 minutes: channel PSQU729\",\"self\":\"https://api.pagerduty.com/users/P7OOI0E/notification_rules/PBJQT2U\",\"html_url\":null}],\"coordinated_incidents\":[],\"id\":\"P7OOI0E\",\"type\":\"user\",\"summary\":\"JupiterOne Developer\",\"self\":\"https://api.pagerduty.com/users/P7OOI0E\",\"html_url\":\"https://dev-j1dev.pagerduty.com/users/P7OOI0E\"}],\"limit\":1,\"offset\":0,\"total\":null,\"more\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"ba061ea465ced0c1da8944c36f0e87b9\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 428,
      },
      {
        "_id": "8bfe26a5168136d097c4560a508bc7cd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
  [...]
