{
  "log": {
    "_recordingName": "request::shouldReturnLimitAndMore",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8711129a3367480a9835777525d8a425",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pagerduty.com/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4255,
            "text": "{\"users\":[{\"name\":\"Adam Williams\",\"email\":\"adam.williams@jupiterone.com\",\"time_zone\":\"America/New_York\",\"color\":\"red\",\"avatar_url\":\"https://secure.gravatar.com/avatar/9ea4fa51e96ace12abc2f580a55d8dd7.png?d=mm&r=PG\",\"billed\":true,\"role\":\"admin\",\"description\":null,\"invitation_sent\":false,\"job_title\":null,\"teams\":[],\"contact_methods\":[{\"id\":\"PJG7ZXR\",\"type\":\"email_contact_method_reference\",\"summary\":\"Default\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ/contact_methods/PJG7ZXR\",\"html_url\":null}],\"notification_rules\":[{\"id\":\"PBVZ9EI\",\"type\":\"assignment_notification_rule_reference\",\"summary\":\"0 minutes: channel PJG7ZXR\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ/notification_rules/PBVZ9EI\",\"html_url\":null},{\"id\":\"PF4KNU8\",\"type\":\"assignment_notification_rule_reference\",\"summary\":\"0 minutes: channel PJG7ZXR\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ/notification_rules/PF4KNU8\",\"html_url\":null}],\"coordinated_incidents\":[],\"id\":\"PBYO4HJ\",\"type\":\"user\",\"summary\":\"Adam Williams\",\"self\":\"https://api.pagerduty.com/users/PBYO4HJ\",\"html_url\":\"https://dev-jupiterone.pagerduty.com/users/PBYO4HJ\"},{\"name\":\"Erkang Zheng\",\"email\":\"erkang.zheng@jupiterone.io\",\"time_zone\":\"America/New_York\",\"color\":\"purple\",\"avatar_url\":\"https://secure.gravatar.com/avatar/ed08baa46236f0124d4b3ac9808ef11f.png?d=mm&r=PG\",\"billed\":true,\"role\":\"owner\",\"description\":null,\"invitation_sent\":false,\[...]
